html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Custom utility for blinking border */
.blink-border {
  animation: border-blink 2s infinite;
}

@keyframes border-blink {
  0% { border-color: rgba(239, 68, 68, 1); }
  50% { border-color: rgba(239, 68, 68, 0.3); }
  100% { border-color: rgba(239, 68, 68, 1); }
}